* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.body {
    position: relative;
}
.logo {
    display: flex;
    gap: 3px;
    justify-content: start;
    align-items: center;
}
header {
    position: relative;
}
.plogo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.ptitle {
    font-size: 13px;
    color: white;
}
.number {
    color: white;
    font-size: 13px;
    align-items: center;
    position: absolute;
    margin: 45%;
}
.C {
    height: 30px;
    width: 30px;
    border: 1px transparent;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 8px;
    cursor: pointer;
}

.C:hover {
    color: #dd3636;
    background: #50101a;
    cursor: pointer;
    box-shadow: 0 0 3px #dd3636;
}
.D {
    height: 30px;
    width: 30px;
    border: 1px transparent;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.Top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    background: #50101a;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-size: 25px;
    bottom: 0;
    right: 0;
    margin-bottom: 35px;
    margin-right: 35px;
    cursor: pointer;
}
.Top:hover {
    background: #24070b;
}
.Mode button {
    width: 45px;
    font-size: 20px;
    padding: 2px 2px;
    display: flex;
    justify-content: start;
    border: transparent;
    border-radius: 30px;
    background: black;
    color: white;
}
.Mode {
    display: flex;
    padding:15px;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.popup-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.801);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.popup {
    width: 350px;
    background: rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    position: absolute;
    top: center;
    left: center;
    text-align: center;
    padding: 25px 25px;
    color: black;
    box-shadow: 0 2px 5px black;
    gap: 4px;
    border: 2px solid #dd3636;
    transform: scale(1);
    transition:.3s ease;
}
.popup h3 {
   margin:10px 0 0 ;
   color: #dd3636;
   font-weight: 700;
}
.popup p {
    font-size: 12px;
    font-weight: 450;
    color: white;
}
.popup button {
    background: linear-gradient(20deg,rgb(255, 238, 4),#ff8800);
    padding:4px 9px ;
    margin-top: 20px;
    outline: none;
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}
.popup button:hover {
    transform: scale(1.05);
    background: linear-gradient(20deg,rgb(177, 165, 3),#c26801)
}
.popup img {
    border-radius: 50%;
    border: 2px solid #dd3636;
    margin-top: -65px;
    width: 95px;
}
@media(max-width:600px) {
    .number {
        font-size: 9px;
    }
    .plogo img {
        height: 28px;
    }
    .ptitle {
        font-size: 9px;
    }
    .D {
        height: 28px;
        width: 28px;
    }
}@media(max-width:420px) {
    .number {
        font-size: 9px;
    }
    .plogo img {
        height: 28px;
    }
    .ptitle {
        font-size: 9px;
        max-width: 65px;
    }
    .D {
        height: 28px;
        width: 28px;
    }
}


